<%# Importiamo la navbar %> <%- include("navbar") %> <%#
----------------------------MAIN------------------------------ %>
<div class="container">
  <div class="row">
    <%# Menù laterale %>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3">
      <div class="list-group">
        <a href="/users/me" class="list-group-item list-group-item-action"
          >Il mio account</a
        >
        <a
          href="#"
          class="list-group-item list-group-item-action active"
          id="account"
          >I miei dati</a
        >
        <a
          href="/users/me/orders"
          class="list-group-item list-group-item-action"
          >I miei ordini</a
        >
      </div>
    </div>

    <%# ----------------------------I miei dati------------------------------ %>

    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8" id="utente">
      <div class="col-12">
        <h2>I miei dati</h2>
        <p id="p">Qui puoi modificare i tuoi dati personali.</p>
        <div id="dati">
          <div class="row">
            <div class="col-xl-1" id="icona">
              <%# Visualizziamo l'icona del profilo %>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="40"
                height="40"
                fill="black"
                class="bi bi-person"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"
                />
              </svg>
            </div>
            <div class="col-xl-4" id="specifiche">
              <h6>Nome</h6>
              <%# Visualizziamo il nome dell'utente %>
              <p><%= myAccount.name %> <%= myAccount.surname %></p>
              <br />
              <h6>Indirizzo</h6>
              <%# Visualizziamo l'indirizzo dell'utente %>
              <p><%= myAccount.city %>, <%= myAccount.address %></p>
            </div>
            <div class="col-xl-3" id="specifiche">
              <h6>Telefono cellulare</h6>
              <%# Visualizziamo il numero di cellulare dell'utente %>
              <p><%= myAccount.phone %></p>
            </div>
            <div class="col-xl-3">
              <button class="btn btn-outline" id="modifica">
                <%# Visualizziamo l'icona della matita all'interno del bottone
                "Modifica" %>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-pencil"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"
                  />
                </svg>
                Modifica
              </button>
            </div>
          </div>
          <hr />

          <%# ----------------------------E-mail------------------------------
          %>

          <div class="row">
            <div class="col-xl-1" id="icona">
              <%# Visualizziamo l'icona della busta %>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="40"
                height="40"
                fill="currentColor"
                class="bi bi-envelope"
                viewBox="0 0 16 16"
              >
                <path
                  d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383l-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z"
                />
              </svg>
            </div>
            <div class="col-xl-7" id="email">
              <h6>E-mail</h6>
              <%# Visualizziamo l'e-mail dell'utente %>
              <p><%= myAccount.email %></p>
            </div>
            <div class="col-xl-3 mb-3">
              <button class="btn btn-outline" id="modifica">
                <%# Visualizziamo l'icona della matita all'interno del bottone
                "Modifica" %>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-pencil"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"
                  />
                </svg>
                Modifica
              </button>
            </div>
          </div>
          <hr />

          <%# ----------------------------Password------------------------------
          %>
          <div class="row">
            <div class="col-xl-1" id="icona">
              <%# Visualizziamo l'icona dello scudo %>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="40"
                height="40"
                fill="black"
                class="bi bi-shield-lock"
                viewBox="0 0 16 16"
              >
                <path
                  d="M5.338 1.59a61.44 61.44 0 0 0-2.837.856.481.481 0 0 0-.328.39c-.554 4.157.726 7.19 2.253 9.188a10.725 10.725 0 0 0 2.287 2.233c.346.244.652.42.893.533.12.057.218.095.293.118a.55.55 0 0 0 .101.025.615.615 0 0 0 .1-.025c.076-.023.174-.061.294-.118.24-.113.547-.29.893-.533a10.726 10.726 0 0 0 2.287-2.233c1.527-1.997 2.807-5.031 2.253-9.188a.48.48 0 0 0-.328-.39c-.651-.213-1.75-.56-2.837-.855C9.552 1.29 8.531 1.067 8 1.067c-.53 0-1.552.223-2.662.524zM5.072.56C6.157.265 7.31 0 8 0s1.843.265 2.928.56c1.11.3 2.229.655 2.887.87a1.54 1.54 0 0 1 1.044 1.262c.596 4.477-.787 7.795-2.465 9.99a11.775 11.775 0 0 1-2.517 2.453 7.159 7.159 0 0 1-1.048.625c-.28.132-.581.24-.829.24s-.548-.108-.829-.24a7.158 7.158 0 0 1-1.048-.625 11.777 11.777 0 0 1-2.517-2.453C1.928 10.487.545 7.169 1.141 2.692A1.54 1.54 0 0 1 2.185 1.43 62.456 62.456 0 0 1 5.072.56z"
                />
                <path
                  d="M9.5 6.5a1.5 1.5 0 0 1-1 1.415l.385 1.99a.5.5 0 0 1-.491.595h-.788a.5.5 0 0 1-.49-.595l.384-1.99a1.5 1.5 0 1 1 2-1.415z"
                />
              </svg>
            </div>
            <div class="col-xl-7" id="password">
              <h6>Password</h6>
              <%# Visualizziamo la password nascosta %>
              <p>&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;</p>
            </div>
            <div class="col-xl-3">
              <button class="btn btn-outline" id="modifica">
                <%# Visualizziamo l'icona della matita all'interno del bottone
                "Modifica" %>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-pencil"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"
                  />
                </svg>
                Modifica
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%# ----------------------------FOOTER------------------------------ %> <%#
Importiamo il footer %> <%- include("footer") %>
